{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <!-- Start Content -->
    {% if all_shoes %}
        <div class="container py-5">
            <div class="row">

                <div class="col-lg-3">
                    <h1 class="h2 pb-4">Categories</h1>
                    <ul class="list-unstyled templatemo-accordion">
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                                Products
                                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul id="collapseThree" class="collapse list-unstyled pl-3">
                                <li><a class="text-decoration-none" href="{% url 'clothes shop' %}">Clothes</a></li>
                                <li><a class="text-decoration-none" href="{% url 'shoes shop' %}">Shoes</a></li>
                                <li><a class="text-decoration-none" href="{% url 'accessories shop' %}">Accessories</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-inline shop-top-menu pb-3 pt-1">
                                <li class="list-inline-item"><h4 class="h3 text-dark text-decoration-none mr-3">Order
                                    by:</h4></li>
                                <li class="list-inline-item">
                                    <a class="h3 text-dark text-decoration-none mr-3" href="#">Price</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="h3 text-dark text-decoration-none" href="#">Latest</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        {% for shoe in all_shoes %}
                            <div class="col-md-4">
                                <div class="card mb-4 product-wap rounded-0">
                                    <div class="card rounded-0">
                                        <img class="card-img rounded-0 img-fluid" src="{{ shoe.image }}">
                                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                            <ul class="list-unstyled">
                                                <li><a class="btn btn-success text-white" href="#"><i
                                                        class="far fa-heart"></i></a></li>
                                                <li><a class="btn btn-success text-white mt-2"
                                                       href="{% url 'shoes-shop single' shoe.pk %}"><i
                                                        class="far fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <a href="#"
                                           class="h2 text-decoration-none">{{ shoe.title }}</a>
                                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                            <li>{{ clothing.clothes_type }}</li>
                                            <li class="pt-2">
                                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                            </li>
                                        </ul>
                                        <p class="text-center mb-0">{{ shoe.price|floatformat:2 }}$</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div div="row">
                        <ul class="pagination pagination-lg justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#"
                                   tabindex="-1">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                                   href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
                                   href="#">3</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-success text-center">There are no shoes in the shop!</h1>
        <p class="text-success text-center">You can choose another type of product!</p>
        <br>
        <div class="container pb-sm-1">
            <div class="row pb-3">
                <div class="col d-grid">
                    <a class="btn btn-success btn-lg" href="{% url 'clothes shop' %}">Clothes</a>
                </div>
                <div class="col d-grid">
                    <a class="btn btn-success btn-lg" href="{% url 'accessories shop' %}">Accessories</a>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    {% endif %}
    <!-- End Content -->
{% endblock %}