{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{ product.image }}" alt="Card image cap"
                             id="product-detail">
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ product.title }}</h1>
                            <p class="h3 py-2">{{ product.price|floatformat:2 }}$</p>
                            <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments (Soon)</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Gender:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.gender }}</strong></p>
                                </li>
                            </ul>

                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Type:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.accessories_type }}</strong></p>
                                </li>
                            </ul>

                            <h6>Description:</h6>
                            <p>{{ product.description }}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Owner Email :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="mailto:{{ product.user }}">{{ product.user }}</a>
                                </li>
                            </ul>

                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                            <hr style="color: black">
                                {% if is_owner or request.user.is_superuser or request.user.is_staff %}
                                    <div class="row pb-3">
                                        <div class="col d-grid">
                                            <a class="btn btn-success btn-lg" href="{% url 'edit_accessories' product.pk %}">Edit</a>
                                        </div>
                                        <div class="col d-grid">
                                            <a class="btn btn-success btn-lg" href="{% url 'delete_accessories' product.pk %}">Delete</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row pb-3">
                                        <div class="col d-grid">
                                            <button type="submit" class="btn btn-success btn-lg" name="submit"
                                                    value="buy">Purchase
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Start Slider Script -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });
    </script>
{% endblock %}
